@import "tailwindcss";
@import "./typography.css";

/* daisyUI theme configuration */
@plugin "daisyui" {
  themes: wireframe, dark;
  defaultTheme: wireframe;
}

/* Custom theme variables */
@theme {
  --color-card-front: oklch(98% 0.01 240);
  --color-card-back: oklch(95% 0.02 200);

  /* UI Rounding */
  --radius-selector: 1px;
  --radius-field: 1px;
  --radius-box: 1px;
  --radius-button: 1px;
}

body {
  background-color: oklch(98% 0 0);
  background-image: radial-gradient(oklch(0% 0 0 / 5%) 1px, transparent 0);
  background-size: 10px 10px;
  background-attachment: fixed;
}